{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
my profiles

{% endblock title %}
{% block content %}



<div class="jumbotron">
  <h1>DATA</h1>




<li>
 <!-- <div class="col-sm-4">
   <div class="card m-2" >
     <img src="{{prs.photo.url}}" alt="{{prs.name}}" class="card-img-top" height="200px">
     <h3>{{prs.name}}</h3>
   </div>
 </div> -->
<!--<div class="p-3 mb-2 bg-primary text-white">.bg-primary</div>-->

 <div style="border-radius: 2%" class="card text-center p-3 mb-2 bg-dark text-dark{% if prs.case == 'CRIMINAL' %}border-danger{% else %} border-primary{% endif%} ">
   <div class="card-header ">
     </ul>
   </div>
<!--             <img class="card-img-top" src="{{face_image.photo.url}}"alt="Card image cap">-->
   <div class="card-body">
     <div class="row">
     <div class="col-sm-4">
       <div class="card m-2" >
         <img class="card-img-left" src="{{face_image.photo.url}}"alt="Card image cap">

       </div>

     </div>
     <!-- <h5 class="card-title">Name:{{prs.name}}</h5>
      <p class="card-text">CASE:{{prs.case}}</p>
     <a href="#" class="btn btn-primary">Track</a> -->
     <div class="col-sm-4">
     <div class="card m-2" style="width: 24rem;">

       <ul class="list-group list-group-flush list-group-item list-group-item-primary">
           <li class="list-group-item d-flex ">ID Number : {{face_image.id}}</li>
           <li class="list-group-item d-flex ">Name : {{face_image.name}}</li>
         <li class="list-group-item d-flex ">Gender : {{face_image.gender}}</li>
         <li class="list-group-item d-flex">Case : {{face_image.case}}</li>
        <li class="list-group-item d-flex">DOB : {{face_image.dob}}</li>
           <li class="list-group-item d-flex">Gender : {{face_image.gender}}</li>
           <li class="list-group-item d-flex">Address : {{face_image.address}}</li>
           <li class="list-group-item d-flex">Missing Date : {{face_image.missing_date}}</li>
           <li class="list-group-item d-flex">Incident Location : {{face_image.incident_location}}</li>
           <li class="list-group-item d-flex">Created Date : {{face_image.created}}</li>
           <li class="list-group-item d-flex">Updated Date : {{face_image.updated}}</li>
           <li class="list-group-item d-flex">Description : {{face_image.description}}</li>
       </ul>

     </div>
   </div>
 </div>
 <div class="container">
  <a class='btn btn-primary' href="{% url 'faceuploader:update_face_uploader' pk=face_image.pk %}">Update</a>
  <a class='btn btn-danger' href="{% url 'faceuploader:delete_face_uploader' pk=face_image.pk %}">Delete</a>
</div>

   </div>
 </div>




 
{% endblock content %}