{% load static %}
{% url 'faceuploader:monitor' as path_to_monitor %}
{% url 'faceuploader:create_face_uploader' as path_to_uploader %}
{% url 'faceuploader:index' as path_to_face_upload_index %}
{% url 'logout' as path_to_logout %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




{% block scripts %}
    <script src="{% static 'script.js' %}" defer></script>
{% endblock scripts %}


<nav class="navbar navbar-expand-custom navbar-mainbg">
        <a class="navbar-brand navbar-logo" href="#">AFRS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>

                <li class="nav-item">
                    <a class="nav-link  {% if request.path == path_to_monitor %}active{% endif %}" href="{{path_to_monitor}}"><i class="fas fa-tachometer-alt"></i>Monitor</a>
                </li>
             
       <li class="nav-item ">
                    <a class="nav-link {% if request.path == path_to_uploader %}active{% endif %}" href="{{path_to_uploader}}"><i class="far fa-address-book"></i>Register</a>
                </li>
              

       <li class="nav-item ">
                    <a class="nav-link {% if request.path == path_to_face_upload_index %}active{% endif %}" href="{{path_to_face_upload_index}}"><i class="far fa-clone"></i>View</a>
                </li>


                <li class="nav-item pl-5">
                    <a class="nav-link {% if request.path == path_to_logout %}active{% endif %}" href="{{path_to_logout}}"><i class="far fa-clone"></i>Logout</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link " href="#"><i class="far fa-calendar-alt"></i>Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="far fa-chart-bar"></i>Charts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="far fa-copy"></i>Documents</a>
                </li> -->

            </ul>
        </div>
    </nav>

