{% load static %}
{% url 'faceuploader:monitor' as path_to_monitor %}
{% url 'faceuploader:create_face_uploader' as path_to_uploader %}
{% url 'faceuploader:index' as path_to_face_upload_index %}
{% block scripts %}
    <script src="{% static 'script.js' %}" defer></script>
{% endblock scripts %}
<nav class="navbar navbar-expand-custom navbar-mainbg bg-dark">
        <a class="navbar-brand navbar-logo" href="#">AFRS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>

                <li class="nav-item">
                    <a class="nav-link  {% if request.path == path_to_monitor %}active{% endif %}" href="{{path_to_monitor}}"><i class="fas fa-tachometer-alt"></i>Monitor</a>
                </li>
             
       <li class="nav-item ">
                    <a class="nav-link {% if request.path == path_to_uploader %}active{% endif %}" href="{{path_to_uploader}}"><i class="far fa-address-book"></i>Register</a>
                </li>
              
       <li class="nav-item">
                    <a class="nav-link {% if request.path == path_to_face_upload_index %}active{% endif %}" href="{{path_to_face_upload_index}}"><i class="far fa-clone"></i>View</a>
                </li>

                <!-- <li class="nav-item">
                    <a class="nav-link " href="#"><i class="far fa-calendar-alt"></i>Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="far fa-chart-bar"></i>Charts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="far fa-copy"></i>Documents</a>
                </li> -->

            </ul>
        </div>
    </nav>

